/* Header */

.header, .footer {
    flex: 0 0 auto;
}


.header {
    background-color: $dark;
    position: sticky;
    top: 0;
}

.header, .site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header{
    background-color: $darkwhite
}
