* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Placement */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}