.main {
    flex: 1 0 auto;
    background-color: $darkdark;
}

.center{
    width: 90%;
    max-width: 900px;
    display: block;
    margin: 150px auto;
    margin-top: 100px;
    background-color: $darkwhite;
    border: 2px solid $dark;
    border-radius: 20px;
}

.cent{
    width: 90%;
    max-width: 900px;
    height: 80%;
    display: block;
    margin: 150px auto;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: $darkwhite;
    border: 2px solid $dark;
    border-radius: 20px;

}

.const {
    width: 95%;
    margin: 10px auto;
}