@import '../../node_modules/normalize.css/normalize';
@import 'variables-dark';

@import 'html-dark';
@import 'blockquotes';
@import 'code';
@import 'header-dark';
@import 'main-dark';
@import 'footer-dark';
@import 'title';
@import 'figure';
@import 'typografy';
@import 'mobile-menu-dark';
@import 'technology';
@import 'analysis';
@import 'tech-dark';
@import 'gallery';

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

/*body {
    background-color: $background-color;
}

* {
    color: $font-color;
}*/

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    font-family: 'Nunito', sans-serif;
}


