$font-color: #2f2f2f;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #3d5a80;
$background-alternative-color: #e0fbfc;

$black: #1d1d1d;
$white: #f0f0f0;
$rwhite: #f1f0f0;
$red: #800000;
$blue: #002349;
$gold: #957C3D;
