{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="cent">
            <div class="const techgrid">
                <div class="techbox">
                    <ul>
                        <h3>Technoligies</h3>
                        {% for page in pages("technology") %}
                            <li {% if page.id==current_page.id %} class="active" {% endif %}><a href="{{ page.url }}">{{ page.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="techbox">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
